@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 0;
  text-align: center;
  font-size: 45px;
  padding: 1rem;
  text-decoration: underline dotted;
  letter-spacing: 1rem;
}
.main-box {
  margin: auto;
  border: 2px solid black;
  width: 80%;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px #00000078;
  max-width: 400px;
}
.score {
  font-size: 20px;
  margin-left: 5px;
}
button {
  background-color: black;
  padding: 0.3rem;
  width: 100px;
  color: white;
  font-size: 17px;
  border: 2px solid black;
  margin: 0.5rem;
  margin-left: 0;
  border-radius: 0.5rem;
}
.extra-width {
  width: 120px;
}
.input-div {
  margin: 40px 0 20px 0;
}
.player {
  font-weight: 800;
  font-size: 20px;
  text-decoration: underline;
}
.output {
  font-weight: 600;
}

@media (max-width: ) {
}
